<!DOCTYPE html>
<html>
  <head>
    <title>Challenge 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/i5i5rsuopeyr10cov4ovuev06cb1sxchallenges">Enigma Quest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('challenges') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('enigma_validator_render') }}">Enigma Validator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://linktr.ee/anuj_dwivedi">Contact Dev.</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
      <h1>Challenge 10 - Quater 4 from the given sheet</h1>
    <h2>For Position 10 - ENIGMA CODE -- IS CONSTANT ALL ROUNDS , SO GET IT RIGHT ONCE !</h2>>
      <p>Perform the following calculations:</p>
      <ul>
         <li>Find the product of A and B</li>
        <li>Find the square of C</li>
        <li>Subtract the result of their difference from the previous result</li>
        <li>Add 5 to the final result</li>
      </ul>
      <form action="/i5i5rsuopeyr10cov4ovuev06cb1sxchallenge10-validator" method="POST">
        <div class="form-group">
          <label for="number">Enter your answer:</label>
          <input type="number" class="form-control" id="number" name="number" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if result %}
        <div class="mt-3 alert alert-success">{{ result }} Number : {{ number }}</div>
      {% endif %}
    </div>
  </body>
</html>