<!DOCTYPE html>
<html>
<head>
	<title>Enigma Quest</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<style>
        @media only screen and (max-width: 768px) {
            .buttons {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(10, 1fr);
                gap: 10px;
            }
            .button {
                width: 100%;
            }
        }
	</style>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/i5i5rsuopeyr10cov4ovuev06cb1sxchallenges">Enigma Quest</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('enigma_validator_render') }}">Enigma Validator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://linktr.ee/anuj_dwivedi">Contact Dev.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    





<div class="buttons">
	<a href="{{ url_for('challenge1') }}" class="button">
        <img src="../static/bg-1.png" alt="button image">
        Decrypt Me
    </a>
    <a href="{{ url_for('challenge2') }}" class="button">
        <img src="../static/bg-2.png" alt="button image">
        Quizzz
    </a>
    <a href="{{ url_for('challenge3') }}" class="button">
        <img src="../static/bg-3.png" alt="button image">
        HuRidle
    </a>
    <a href="{{ url_for('challenge4') }}" class="button">
        <img src="../static/bg-4.png" alt="button image">
        Check_Mate!
    </a>
    <a href="{{ url_for('challenge5') }}" class="button">
        <img src="../static/bg-5.png" alt="button image">
        Pattern Up!
    </a>
    <a href="{{ url_for('challenge6') }}" class="button">
        <img src="../static/bg-6.png" alt="button image">
        Unscramble Ramble!
    </a>
    <a href="{{ url_for('challenge7') }}" class="button">
        <img src="../static/bg-7.png" alt="button image">
        Quarter 1!
    </a>
    <a href="{{ url_for('challenge8') }}" class="button">
        <img src="../static/bg-8.png" alt="button image">
        Quarter 2!
    </a>
    <a href="{{ url_for('challenge9') }}" class="button">
        <img src="../static/bg-9.png" alt="button image">
        Quarter 3!
    </a>
    <a href="{{ url_for('challenge10') }}" class="button">
        <img src="../static/bg-10.png" alt="button image">
        Quarter 4!
    </a>
</div>
</body>
</html>
