<!DOCTYPE html>
<html>
<head>
	<title>Enigma Quest</title>
     <meta http-equiv="refresh" content="{{ seconds }};url={{ url_for('login') }}" />
	<style>
		body {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
		.loading-icon {
    display: none;
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
		.loading-bar {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0%;
			height: 10px;
			background-color: #007bff;
			transition: width 5s ease-out;
		}
	</style>
</head>
<body>
<div class="tenor-gif-embed" data-postid="23571286" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/wallpaper-hd-wallpaper-astronaut-space-galaxy-gif-23571286">Wallpaper Hd Wallpaper GIF</a>from <a href="https://tenor.com/search/wallpaper+hd-gifs">Wallpaper Hd GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
	<div class="loading-icon">
		<img src="icon.gif" alt="ENIGMA QUEST" width="150" height="150">
	</div>
	<div class="loading-bar"></div>
	<script>
		window.onload = function() {
			var bar = document.querySelector('.loading-bar');
			bar.style.width = '100%';
		};
	</script>
</body>
</html>
